<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <appender name="AllFilesLogger" xdt:Locator="Match(name)">
      <file value="D:\wwwfiles\fast-saft\Keen.txt" xdt:Transform="SetAttributes" />
    </appender>
  </log4net>
  <appSettings>
    <add key="IdSrvBaseUrl" value="https://ncrws317/secure/fast-saft/core/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="KeenContext" connectionString="#{KeenContext}#" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
  </connectionStrings>
</configuration>