<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="GoC.WebTemplate" type="GoC.WebTemplate.Configurations" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />

  </configSections>
  <!-- Configuring log4net RollingFileAppender for Logging-->
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="AllFilesLogger" />
      <appender-ref ref="TraceAppender" />
    </root>

    <appender name="AllFilesLogger" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\TCFORMS.txt" />
      <staticLogFileName value="true" />
      <appendToFile value="True" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyy-MM-dd" />
      <maximumFileSize value="15MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} [t+:%timestamp] [%thread] %-6level %logger (%method:%line) - %message %exception%newline" />
      </layout>
    </appender>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} [t+:%timestamp] [%thread] %-6level %logger (%method:%line) - %message %exception%newline" />
      </layout>
    </appender>
  </log4net>

  <appSettings>
    <add key="ApiRoot" value="http://localhost:8081/api/" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="DefaultTDG" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SessionInactivity" value="3300000" />
    <add key="SenderEmail" value="tc.ntcf-fncc.tc@tc.gc.ca" />
    <!--55 min-->
    <add key="SessionAlive" value="3600000" />
    <!--1 hour-->
    <add key="SessionReactionTime" value="300000" />
    <!--5 min-->
    <!--DEV, ACC or PROD-->
    <add key="ENVIRONMENT" value="DEV" />
    <add key="APP_VERSION" value="v1.0.0.0" />
    <!--Fake Login-->
    <add key="SimulateMbun" value="true" />
    <add key="Mbun" value="TEST2" />
    <!--API Constants-->
    <add key="ProgramId" value="1" />
    <add key="FormId" value="2" />
    <add key="SystemUserId" value="1" />
    <add key="AdminRoleId" value="1" />
    <!-- Value for TcWebAPI -->
    <add key="TcFormsSecret" value="rt1ow9jikuuboxejajbk91u3ow" />
    <add key="TcForms" value="tcforms" />
    <add key="IdSrvBaseUrl" value="http://localhost:8081/core/" />
    <!-- Urls -->
    <add key="LanguageToggleUrl" value="" />
    <add key="LogoutUrl" value="/secure/PIU/SAML/Logout" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error">
      <error redirect="~/NotFound" statusCode="404" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />

  <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
            <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
        </httpModules><httpHandlers>
            <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
        </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
      <!-- <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" /> -->


    <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" /></modules>


    <httpProtocol>
      <customHeaders>
        <add name="X-FRAME-OPTIONS" value="DENY" />
        <add name="Content-Security-Policy" value="frame-ancestors 'none'" />
      </customHeaders>
    </httpProtocol>


  <validation validateIntegratedModeConfiguration="false" /><handlers>
            <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers></system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <GoC.WebTemplate version="v4_0_27" environment="Akamai" loadJQueryFromGoogle="false" showPreContent="true" showPostContent="true" showFeedbackLink="false" feedbackLinkUrl="" showLanguageLink="true" showSharePageLink="false" showSearch="true" showFeatures="true" staticFilesLocation="~\Views\GoC.WebTemplate\StaticFallbackFiles" xmlns="http://tempuri.org/WebTemplateMVC.xsd">
  	<sessionTimeOut enabled="true" inactivity="1020000" reactionTime="180000" sessionalive="1200000" logouturl="/secure/PIU/SAML/Logout" refreshCallbackUrl="./" refreshOnClick="false" refreshLimit="120000" method="" additionalData="" />
  	<leavingSecureSiteWarning enabled="false" displayModalWindow="true" redirectURL="" excludedDomains="" />
  </GoC.WebTemplate>




<glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
      <!--
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you.
      -->
    </glimpse>


  <connectionStrings>
    <add name="NTCContext" connectionString="DATA SOURCE=TTSXD.WORLD;PASSWORD=Rk58RQ;PERSIST SECURITY INFO=True;USER ID=NTC" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
</configuration>