<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <appender name="AllFilesLogger" xdt:Locator="Match(name)">
      <file value="D:\wwwfiles\ntc-ccn\TCFORMS.txt" xdt:Transform="SetAttributes" />
    </appender>
  </log4net>
  <appSettings>
    <add key="ApiRoot" value="https://nlb.gart.tc.gc.ca/secure/fast-saft/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IdSrvBaseUrl" value="https://nlb.gart.tc.gc.ca/secure/fast-saft/core/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SimulateMbun" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LanguageToggleUrl" value="https://gart-tc.fjgc-gccf.gc.ca/public-publique/su-us/lca-atl/lca-atl.aspx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Environment" value="PROD" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="NTCContext" connectionString="#{NTCContext}#" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
  </connectionStrings>
</configuration>